<!-- ナビゲーションバー -->
<%= render 'layouts/navbar' %>

<!-- コンテンツ -->
<div class="container mt-3">
  <div class="header font-weight-bold">メソッド名</div>
  <div class="row m-1">
    <div class="col-6 border-right">
      <div class="bg-light border border-gray py-2 px-4 m-2">
        <%= form_with(model: @word, url: tool_index_path,local: true) do |f| %>
            <div class="form-group">
              <%= f.label :manualKind,"操作の種類"%>
              <%= f.select :manualKind,
                @words.map { |word| [word.manualKind,word.id,data: { children_path: tool_path(word) }]} ,
                { include_blank: true },
                class: 'form-control form-control-sm select-parent' %>
            </div>
            <div class="form-group">
              <%= f.label :concreteMethod,"具体的な操作方法"%>
              <!-- TODO:セレクトボックス空白のもっと良い書き方がありそう -->
              <%= f.select :concreteMethod,[""],
                { include_blank: true },
                class: 'form-control form-control-sm select-children change_field' %>
            </div>
            <div class="form-group">
              <%= f.label :japanese_word,"操作対象"%>
              <%= f.text_field :japanese_word, class: 'form-control form-control-sm change_field' %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="col-6">
      <div class="bg-light border border-gray pt-2 px-4 m-2 pb-1">
        <form>
          <div class="form-group">
            <label for="inputMethodName">メソッド名(スネークケース小文字)</label>
            <textarea 
              class="form-control" 
              id="inputMethodName" 
              rows="7" 
              readonly>
            </textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="header font-weight-bold">その他</div>
  <div class="row m-1">
    <div class="col-6 border-right">
      <div class="bg-light border border-gray py-2 px-4 m-2">
        <%= form_with( url: tool_other_path,local: true) do |f| %>
            <div class="form-group">
              <%= f.label :word1,"単語1"%>
              <%= f.text_field :word1, class: 'form-control form-control-sm change_field' %>
            </div>
            <div class="form-group">
              <%= f.label :word2,"単語2"%>
              <%= f.text_field :word2, class: 'form-control form-control-sm change_field' %>
            </div>
            <div class="form-group">
              <%= f.label :word3,"単語3"%>
              <%= f.text_field :word3, class: 'form-control form-control-sm change_field' %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="col-6">
      <div class="bg-light border border-gray py-2 px-4 m-2">
        <form>
          <div class="form-group">
            <label for="inputClassName">クラス名、モジュール名(キャメルケース)</label>
            <input type="text" class="form-control form-control-sm" id="inputClassName" readonly>
          </div>
          <div class="form-group">
            <label for="inputVariable">変数名(スネークケース小文字)</label>
            <input type="text" class="form-control form-control-sm" id="inputVariable" readonly>
          </div>
          <div class="form-group">
            <label for="inputFix">固定値(スネークケース大文字)</label>
            <input type="text" class="form-control form-control-sm" id="inputFix" readonly>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>