<!-- ナビゲーションバー -->
<%= render 'navbar' %>

<!-- コンテンツ -->
<div class="container mt-3">

  <div class="border rounded-lg mb-4">
    <div class="bg-dark text-white p-2">検索条件</div>

    <%= search_form_for @q,class: "px-4 pt-4 pb-2 mb-2" do |f| %>
      <div class="row">
        <%= f.label :japanese_word, "日本語",class: 'col-2' %>
        <div class="col-5">
          <%= f.search_field :japanese_word_cont,class: 'form-control form-control-sm' %>
        </div>
      </div>
      <div class="row">
        <%= f.label :english_word, "英語",class: 'col-2' %>
        <div class="col-5">
          <%= f.search_field :english_word_cont,class: 'form-control form-control-sm' %>
        </div>
      </div>
      <div class="row">
        <%= f.label :use, "用途",class: 'col-2' %>
        <div class="col-5">
          <%= f.search_field :use_cont,class: 'form-control form-control-sm' %>
        </div>
      </div>
      <!-- 検索ボタン -->
      <div class="text-center">
        <%= f.submit "検索", class: 'btn btn-outline-dark mb-2' %>
        <%= f.button "クリア", type: :reset, class: 'btn btn-outline-dark mb-2' %>
      </div>  
    <% end %>

  </div>

  <!-- 新規作成リンク -->
  <a href="/words/new" class="btn btn-outline-dark mb-2 float-right">新規作成</a>
  <!-- 一覧 -->
  <table class="table table-hover">
    <thead class="bg-dark text-white">
      <th scope="col">日本語</th>
      <th scope="col">英語</th>
      <th scope="col">操作の種類</th>
      <th scope="col">具体的な操作方法</th>
      <th scope="col">用途</th>
      <th style="width:100px" scope="col"></th>
      <th style="width:100px" scope="col"></th>
    </thead>
    <tbody>
      <% @words.each do |word| %>
        <tr>
          <td><%= word.japanese_word %></td>
          <td><%= word.english_word %></td>
          <td><%= word.manualKind %></td>
          <td><%= word.concreteMethod %></td>
          <td><%= word.use %></td>
          <td><%= link_to '編集', 
                  edit_word_path(word),
                  class: 'btn btn-outline-dark mb-2'
              %></td>
          <td><%= link_to '削除', 
                  word,
                  class: 'btn btn-outline-danger mb-2 delete',
                  method: :delete,
                  remote: true,
                  data: { confirm: "単語を削除します。よろしいでしょうか？"}
              %></td>
        </tr>      
      <% end %>
    </tbody>
  </table>

  <!-- ページネーション -->
  <%= paginate @words %>
</div>
